<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="projectMapper">
	<resultMap type="ProjectVO" id="projectResultSet">
		<id property="projectId" column="PROJECT_ID" />
		<result property="projectName" column="PROJECT_NAME" />
		<result property="projectDesc" column="PROJECT_DESC" />
	</resultMap>
	
		<select id="selectProjectList" resultMap="projectResultSet">
	SELECT * FROM  TEST.PROJECT_TB ORDER BY PROJECT_ID DESC 
	</select>
  
	<insert id="insertProjectTab" parameterType="ProjectVO">
		INSERT INTO TEST.PROJECT_TB VALUES( SEQ_PROJECT.NEXTVAL, #{ projectName }, #{ projectDesc }, DEFAULT )
	</insert>
	
	</mapper>